/* FOOTER WRAPPER */
.footer {
    background: #333333;
    color: #f7edf0;
    padding: 60px 32px 30px;
    /* margin-top: 60px; */
    /* font-family: "Inter", sans-serif; */
}

/* LAYOUT */
.footer-container {
    max-width: 1200px;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: repeat(4, 1fr); */
    /* gap: 40px; */
}

.footer-col {

    /* flex-basis: 40%; */
    /* flex: 1; */
    /* display: flex;
    flex-direction: column; */
}

.footer-col:first-child {
    flex-basis: 40%;
}

/* LOGO */
.footer-logo {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 800;
    color: #2218e3;
    margin-bottom: 15px;
}

.footer-desc {
    color: #f7edf0;
    opacity: 0.9;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
}

/* SOCIAL ICONS */
.footer-socials {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.footer-socials a {
    font-size: 1.5rem;
    color: #f7edf0;
    transition: 0.2s ease;
}

.footer-socials a:hover {
    color: #58e312;
}

/* TITOLI COLONNE */
.footer-title {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #2218e3;
    font-weight: 600;
}

/* LISTE */
.footer-links,
.footer-contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #f7edf0;
    opacity: 0.9;
    text-decoration: none;
    transition: opacity 0.2s ease;
}

.footer-links a:hover {
    opacity: 1;
    color: #58e312;
}

/* CONTATTI */
.footer-contact-list li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    opacity: 0.9;
}

/* COPYRIGHT */
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    opacity: 0.8;
    font-size: 0.9rem;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}