@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Mulish', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: 'Oldenburg', cursive; */
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #333333;
}

h1,
h2,
h3 {
  color: #333333;
  font-weight: 700;
}

p {
  font-weight: 500;
}